:root {
  --primary-color: #faf6e9;
  --secondary-color: #494949;
  --background-color: #fffdf6;
  --accent-color: #368482;
}

body {
  font-family: "Inter Tight", sans-serif;
  background-color: var(--background-color);
  color: var(--secondary-color);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
}
header {
  background-image: url(/images/main-photo.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  max-height: 80px;
}
.main-text {
  margin: 7rem 0;
}
