:root {
  --primary-color: #faf6e9;
  --secondary-color: #494949;
  --background-color: #fffdf6;
  --accent-color: #368482;
}

body {
  font-family: "Inter Tight", sans-serif;
  background-color: var(--background-color);
  color: var(--secondary-color);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
}

.slide p,
h4,
h3 {
  text-align: center;
}

.doctors-heading,
h3 {
  text-align: center;
  margin-top: 15px;
}

header {
  background-image: url(/images/main-photo.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  max-height: 80px;
}
.main-text {
  margin: 7rem 0;
}

.button {
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding: 1rem 2rem;
  margin-top: 2rem;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

.button:hover {
  text-decoration: none;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  transition: all 0.3s ease-out;
}
.clinic-photo,
.map {
  max-height: 500px;
  margin-top: 40px;
}

.about {
  margin-top: 20px;
}

.address {
  font-size: 13px;
}

.divider {
  background-color: var(--accent-color);
  padding: 10px;
  margin: 30px 0;
}

.controller {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.doctor-slider {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctors {
  max-width: 1500px;
  margin: auto;
}

.previous,
.next {
  color: var(--primary-color);
  font-size: 1 rem;
  background-color: var(--accent-color);
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  transition: 0.7s ease-in-out;
  border: 3px solid var(--accent-color);
  box-shadow: 0 0 5px #bbbbbb;
  margin: auto 10px;
}

.previous:hover,
.next:hover {
  background-color: var(--primary-color);
  color: var(--accent-color);
}

.slide-img {
  width: 45%;
  height: 275px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-left: 135px;
  border: 2px solid var(--accent-color);
  box-shadow: 10px 10px var(--accent-color);
}

.img-1 {
  background-image: url(/images/doctor_Andrzej.jpg);
}

.img-2 {
  background-image: url(/images/doctor_Jadwiga.jpg);
}
.img-3 {
  background-image: url(/images/doctor_Justyna.jpeg);
}

.img-4 {
  background-image: url(/images/doctor_Krzysztof.jpg);
}

.img-5 {
  background-image: url(/images/doctor_Mateusz.jpg);
}

.tns-liveregion {
  display: none;
}

.icon {
  max-width: 70px;
}

.iconbox {
  text-align: center;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.customer {
  padding: 40px 40px 0 40px;
  max-height: 500px;
}

.testimonial {
  padding: 30px;
  margin: 0 30px;
}

@media (max-width: 1600px) {
  .doctors {
    width: 100%;
  }
}
