:root {
  --primary-color: #faf6e9;
  --secondary-color: #494949;
  --background-color: #fffdf6;
  --accent-color: #368482;
}

body {
  font-family: "Inter Tight", sans-serif;
  background-color: var(--background-color);
  color: var(--secondary-color);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
}

.slide p,
h4,
h3 {
  text-align: center;
}

.doctors-heading,
h3 {
  text-align: center;
  margin-top: 15px;
}

.doctor {
  max-width: 20%;
  margin: auto;
  border: 2px solid var(--accent-color);
  box-shadow: 10px 10px var(--accent-color);
}

header {
  background-image: url(/images/cover-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  max-height: 80px;
}
.main-text {
  margin: 10rem 0;
}

.button {
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding: 1rem 2rem;
  margin-top: 2rem;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

.button:hover {
  text-decoration: none;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  transition: all 0.3s ease-out;
}
.clinic-photo,
.map {
  max-height: 500px;
  margin-top: 40px;
}

.about {
  margin-top: 20px;
}

.address {
  font-size: 13px;
}

.divider {
  background-color: var(--accent-color);
  padding: 10px;
  margin: 30px 0;
}

.icon {
  max-width: 70px;
}

.iconbox {
  text-align: center;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.customer {
  padding: 40px 40px 0 40px;
  max-height: 500px;
}

.carousel h5,
.carousel p {
  color: var(--secondary-color);
}

.carousel p {
  font-size: 10px;
}

.doctor-caption {
  background-color: var(--primary-color);
  max-width: 300px;
  margin: auto;
}

.testimonial {
  padding: 30px;
  margin: 0 30px;
}

.footer-links {
  display: block;
  color: var(--secondary-color);
}

.footer-links:hover,
.email:hover {
  color: var(--accent-color);
}

.email {
  color: var(--secondary-color);
}

@media (max-width: 1600px) {
  .doctors {
    width: 100%;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .testimonial {
    text-align: center;
  }

  .icons {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .iconbox {
    margin: 10px auto;
  }
  .footer-logo {
    display: none;
  }
  .contact-section {
    margin-top: 15px;
  }
}
